@keyframes fadeIn {
    from { opacity: 0; transform: translateY(5px); }
    to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
    animation: fadeIn 0.2s ease-out;
}
/* globals.css */
.btn-primary {
  @apply px-6 py-2 bg-[#e17a00] text-white font-medium rounded-lg 
         focus:ring-[#e17a00] focus:ring-offset-2 transition-colors
         hover:bg-[#66bb6a];
}
.small-text{
    font-size: 13px;
    /* color: #1e8b23; */
}
.cust-status-label{
    width: 100%;
    padding: 6px 20px;
    float: left;
    text-align: center; 
}
.text-bgreen{
    color: #66bb6a;
}
.font-weight-500{
    font-weight: 500;
}
.text-borange{
    color: #e17a00;
}
/* @media(max-width:1700px){
    .mobileResponsive{
        height: 400px;
        overflow: scroll; 
    }
} */
